<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, class: 'col-sm-3 control-label' %><br/>
    <div class="col-sm-9">
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br/>
      <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: 'col-sm-3 control-label' %><br/>
    <div class="col-sm-9">
      <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, {class: 'col-sm-3 control-label'} %>
    <div class="col-sm-9">
      <%= f.text_field :name, {class: 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :store_id, {class: 'col-sm-3 control-label'} %>
    <div class="col-sm-9">
      <%= f.collection_select :store_id, Store.all, :id, :name, {selected: 1}, {class: 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-3"/>
    <div class="col-sm-9">
      <%= f.submit "Sign up", class: 'btn btn-outline-primary' %>
      <br/>
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>

