<% @customers.each_with_index do |customer| %>
  <tr id="tr<%= customer.id %>" class="
    <% if customer.check_out_time.presence %>active<% end %>">
    <th scope="row">
      <%= customer.id.to_s(:delimited, delimiter: ' ') %>
    </th>
    <td>
      <% if customer.monthly_member_id.presence %><%= customer.monthly_member_id %><% end %>
    </td>
    <td>
      <%= customer.check_in_time.strftime("%H:%M") %>
    </td>
    <td>
      <div id="checkOutTime<%= customer.id %>" class="checkOutTime" data-checkout="
        <% if customer.check_out_time.presence %><%= customer.check_out_time.strftime('%FT%R') %><% end %>">
        <% if customer.check_out_time.presence %>
          <%= customer.check_out_time.strftime("%H:%M") %>
        <% end %>
      </div>
    </td>
    <td>
      <div id="usageTime<%= customer.id %>" data-id="<%= customer.id %>" class="usageTime"
           data-checkin="<%= customer.check_in_time.to_json.gsub(/\"/, '') %>">
        <%= curr_usage(customer.check_in_time) %>
      </div>
    </td>
    <td>
      <div id="people<%= customer.id %>"
           data-people="<%= customer.people %>"><%= customer.people %></div>
    </td>
    <td>
      <div id="kind<%= customer.id %>"
           data-kind="<%= customer.kind %>"
           data-kind-name="<%= CustomerKind.find_by_id(customer.kind).kind %>"
           data-currency="<%= current_user.store.currency %>">
        <%= CustomerKind.find_by_id(customer.kind).kind %>
      </div>
    </td>
    <td>
      <div id="currentCost<%= customer.id %>"
           data-currency="<%= current_user.store.currency %>"
           data-rate-per-min="<%= current_user.store.rate_per_min %>"
           data-day-cap-hour="<%= current_user.store.day_cap_hour %>"
           data-student-discount-percentage="<%= current_user.store.student_discount_percentage %>"
           data-charge="<%= customer.charge %>"
           class="currentCost">
      </div>
    </td>
    <td>
      <% if customer.check_out_time.blank? %>
        <%= link_to '#checkOut', class: 'btn btn-link',
                    data: {toggle: 'modal',
                           customer_id: customer.id,
                           people: customer.people,
                           kind: customer.kind,
                           check_in_time: customer.check_in_time.strftime('%FT%R'),
                           check_in_time_raw: customer.check_in_time.to_json.gsub(/\"/, '')
                    } do %>
          <%= icon('fas', 'sign-out-alt') %>
        <% end %>
      <% else %>
        <%= link_to customers_cancel_path(customer), method: :patch, class: 'btn btn-link',
                    data: {confirm: 'Are you sure to cancel this Check-Out?'} do %>
          <%= icon('fas', 'undo') %>
        <% end %>
      <% end %>
      <% unless customer.check_out_time %>
        <%= link_to customer_path(customer.id), method: :delete, class: 'btn btn-link',
                    data: {confirm: 'Are you sure to delete this Check-In?'} do %>
          <%= icon('far', 'trash-alt') %>
        <% end %>
      <% end %>
      <% if customer.people > 1 and not customer.check_out_time %>
        <%= link_to customers_split_check_path(id: customer.id), method: :get,
                    class: 'btn btn-link',
                    data: {confirm: 'Are you sure to Split the Check?'} do %>
          <%= icon('fas', 'percent') %>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
