<div class="modal fade" id="checkOut" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <%= form_with(model: Customer.new, url: customers_path, method: :patch, remote: :false, html: {id: 'new_customer', class: 'form-horizontal'}) do |f| %>
        <input type="hidden" id="customer_id" name="customer[id]">
        <div class="modal-header">
          Check-Out
          <button type="button" class="close text-left" data-dismiss="modal" aria-label="Close">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <%= f.label :usage_time, 'Check-In', class: 'col-sm-4 text-sm-right control-label' %>
            <div class="form-inline input-group col-sm-7">
              <%= f.datetime_local_field :check_in_time, id: 'checkintime', class: 'form-control' %>
            </div>
          </div>
          <div class="form-group row">
            <%= f.label :usage_time, 'Check-Out', class: 'col-sm-4 text-sm-right control-label' %>
            <div class="form-inline input-group col-sm-7">
              <%= f.datetime_local_field :check_out_time, id: 'checkouttime', class: 'form-control' %>
            </div>
          </div>
          <div class="form-group row">
            <%= f.label :usage_time, 'Usage', class: 'col-sm-4 text-sm-right control-label' %>
            <div class="input-group col-sm-7">
              <%= content_tag :p, id: 'sub_total', class: 'text-right total' do %>
                <%= icon('far', 'clock') %>
              <% end %>
            </div>
          </div>
          <div class="form-group row" id="numberOfPeople">
            <%= f.label :people, 'People', class: 'col-sm-4 text-sm-right control-label' %>
            <div class="input-group col-sm-7">
              <%= f.number_field(:people, id: 'numpeople', in: 1..99, step: 1, value: 1, class: 'form-control') %>
            </div>
          </div>
          <div class="form-group row" id="customersKind">
            <%= f.label :kind, 'Kind', class: 'col-sm-4 text-sm-right control-label' %>
            <div class="input-group col-sm-7">
              <%= f.collection_select :kind, CustomerKind.all, :id, :kind, {}, {class: 'form-control', id: 'customer_kind'} %>
            </div>
          </div>
          <div class="form-group row" id="paymentMethod">
            <%= f.label :payment_method, 'Pay Method', class: 'col-sm-4 text-sm-right control-label' %>
            <div class="input-group col-sm-7">
              <%= f.collection_select :payment_method,
                                      Rails.env == 'production' ? PaymentMethod.all[1..3] : PaymentMethod.all[0..3],
                                      :id,
                                      :payment_method,
                                      {selected: Rails.env == 'production' ?
                                                     PaymentMethod.find_by_payment_method('CASH').id :
                                                     PaymentMethod.find_by_payment_method('DEV_USE_ONLY').id},
                                      {class: 'form-control', id: :payment_method} %>
            </div>
          </div>
          <div class="form-group row" id="discountPercent">
            <%= f.label :discount_percentage, 'Discount Rate', class: 'col-sm-4 text-sm-right control-label' %>
            <div class="input-group col-sm-7">
              <%= f.number_field(:discount_percentage, id: 'discount_per', in: 0...90, step: 1, value: 0, class: 'form-control') %>
              <div class="input-group-append">
                <%= f.label :discount_per, '%', class: 'input-group-text' %>
              </div>
            </div>
          </div>
          <div class="form-group row" id="discountDirect">
            <%= f.label :discount, 'Discount', class: 'col-sm-4 text-sm-right control-label' %>
            <div class="input-group col-sm-7">
              <div class="input-group-prepend">
                <%= f.label :charge, raw(currency_symbol(current_user.store.currency)), class: 'input-group-text' %>
              </div>
              <%= f.number_field(:discount, id: 'discount_direct', value: 0, class: 'form-control') %>
            </div>
          </div>
          <div class="form-group row" id="totalCost">
            <%= f.label :charge, 'Total', class: 'col-sm-4 text-sm-right control-label' %>
            <div class="input-group col-sm-7 float-right">
              <%= f.hidden_field :charge, id: 'total_cost_hidden' %>
              <%= content_tag :div, '', id: 'total_cost', class: 'total text-sm-right' %>
            </div>
          </div>
        </div>
        <div class="modal-footer" id="footerBar">
          <button type="button" class="btn btn-default btn-outline-secondary" data-dismiss="modal">
            <%= icon('fa', 'ban') %>
            Cancel
          </button>
          <%= button_tag type: :submit, id: 'checkOutSubmit', class: 'btn btn-default btn-outline-primary' do %>
            <%= icon('fa', 'check') %>
            Check-Out
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
