<div class="modal fade" id="checkIn">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_with(model: Customer.new, method: :post, html: {class: 'form-horizontal'}) do |f| %>
        <div class="modal-header">
          Check-In
          <button type="button" class="close text-left" data-dismiss="modal" aria-label="Close">
            &times;
          </button>
        </div>
        <div class="modal-body" style="padding: 30px 30px 30px 30px;">
          <div class="form-group row" id="numberOfPeople">
            <%= f.label :people, 'People', class: 'col-sm-3 col-form-label text-sm-right' %>
            <div class="col-sm-9">
              <%= f.number_field(:people, in: 1..99, step: 1, value: 1, class: 'form-control') %>
            </div>
          </div>
          <div class="form-group row" id="customersKind">
            <%= f.label :kind, 'Kind', class: 'col-sm-3 col-form-label text-sm-right' %>
            <div class="col-sm-9">
              <%= f.collection_select :kind, CustomerKind.all, :id, :kind,
                                      {selected: CustomerKind.find_by_kind('Drop In').id},
                                      {class: 'form-control'} %>
            </div>
          </div>
          <div class="form-group row" id="monthlyMemberId" style="display: none">
            <%= f.label 'Member\'s ID', class: 'col-sm-3 col-form-label text-sm-right' %>
            <div class="col-sm-9"><%= f.number_field(:monthly_member_id, in: 1..99, step: 1, class: 'form-control') %></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-outline-secondary" data-dismiss="modal">
            <%= icon('fa', 'ban') %>
            Cancel
          </button>
          <%= button_tag type: :submit, id: 'checkInSubmit', class: 'btn btn-outline-primary' do %>
            <%= icon('fa', 'check') %>
            Check-In
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
