<div class="modal fade" id="monthlyMember" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <%= form_with model: MonthlyMember.new, local: true, html: {class: 'form-horizontal'} do |f| %>
        <div class="modal-header">
          Monthly Member Registration
          <button type="button" class="close text-left" data-dismiss="modal" aria-label="Close">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <%= f.label :start_date, 'Start Date', class: 'col-sm-3 text-sm-right' %>
            <div class="form-inline input-group col-sm-8">
              <%= f.date_field :start_date, id: 'startDate', class: 'form-control' %>
            </div>
          </div>
          <div class="form-group row">
            <%= f.label :end_date, 'End Date', class: 'col-sm-3 text-sm-right control-label' %>
            <div class="form-inline input-group col-sm-8">
              <%= f.date_field :end_date, id: 'endDate', readonly: true, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group row">
            <%= f.label :charge, 'Charge', class: 'col-sm-3 text-sm-right control-label' %>
            <div class="input-group col-sm-8">
              <div class="input-group-prepend">
                <%= f.label :charge, raw(currency_symbol(current_user.store.currency)), class: 'input-group-text' %>
              </div>
              <%= f.number_field(:charge, id: 'price', value: MonthlyMemberPrice.find_by_store_id(current_user.store.id).price, class: 'form-control') %>
            </div>
          </div>
        </div>
        <div class="modal-footer" id="footerBar">
          <button type="button" class="btn btn-default btn-outline-secondary" data-dismiss="modal">
            <%= icon('fa', 'ban') %>
            Cancel
          </button>
          <%= button_tag type: :submit, id: 'monthMemberSubmit', class: 'btn btn-default btn-outline-primary' do %>
            <%= icon('fa', 'check') %>
            Regist
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
