<%= render 'layouts/navbar' %>
<%= render 'layouts/table_toolbar' %>

<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>M/M</th>
    <th>In</th>
    <th>Out</th>
    <th>Usage</th>
    <th><i class="fas fa-users"></i></th>
    <th>Kind</th>
    <th>Charge</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <%= render 'index' %>
  </tbody>
</table>
<div class="pull-left">
  <%= icon('far', 'circle') %> <%= @num_of_checked_in %>
  <%= icon('far', 'check-circle') %> <%= @num_of_checked_out %>
</div>
<div class="pull-right">
  <%= paginate(@customers) %>
</div>

<%= render 'modal_check_in' %>
<%= render 'modal_check_out' %>
<%= render 'regist_monthly_member' %>
