<h1>New customer</h1>

<%= form_for(@customer, :url => {:controller => 'customer', :action => 'create'}) do |f| %>
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
    <%= f.submit 'Create' %>
<% end %>
