<% if page.current? %>
    <li class="page-item active">
      <%= content_tag :a, page, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)), class: 'page-link' %>
    </li>
<% else %>
    <li class="page-item">
      <%= link_to page, url, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)), class: 'page-link' %>
    </li>
<% end %>
