<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'}) do |f| %>
    <h2 class="form-signin-heading">Please Log in</h2>
    <div class="field">
      <%= f.label :email, class: 'sr-only' %>
      <%= f.email_field :email, class: 'form-control', placeholder: 'Email address', autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password, class: 'sr-only' %>
      <%= f.password_field :password, class: 'form-control', placeholder: 'Password', autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: 'btn btn-lg btn-primary btn-block' %>
    </div>
    <%= render "devise/shared/links" %>
<% end %>

