// Place all the styles related to the customer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navigation__footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: #B00100;
  font-size: x-large;
}

.sub_total {
  font-size: 18px;
}

.total {
  @extend .sub_total;
  font-weight: bold;
}