<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <%= link_to 'Funshin', customers_path, {class: 'navbar-brand'} %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to '#monthlyMember', class: 'nav-link', data: {toggle: 'modal'} do %><i class="far fa-id-card"></i>
          Monthly Member
        <% end %>
      </li>
      <% if current_user.has_role? :admin %>
        <li class="nav-item">
          <%= link_to admin_customers_path, class: 'nav-link' do %>
            <%= icon('fas', 'cog') %>
            Admin Dashboard
          <% end %>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= icon('fas', 'user') %>
          <%= current_user.name %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to edit_user_registration_path, href: '#', class: 'dropdown-item' do %>
            <%= icon('fas', 'pencil-alt') %>
            Edit User
          <% end %>
          <%= link_to destroy_user_session_path, href: '#', method: :delete, class: 'dropdown-item' do %>
            <%= icon('fas', 'sign-out-alt') %>
            Log Out
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>
