<div class="row">
  <div class="col">
    <form>
      <div class="form-group float-left" style="padding: 10px 10px 10px 0px;">
        <%= link_to '#checkIn', data: {toggle: 'modal'}, class: 'btn btn-outline-primary' do %>
          <%= icon('fas', 'plus') %>
        <% end %>
      </div>
    </form>
  </div>
  <div class="col float-right">
    <%= form_with url: customers_search_date_path, method: :post, class: 'form-inline pull-right' do |f| %>
      <div class="input-group date" style="padding: 10px 0px 10px 10px;">
        <%= text_field_tag :datepicker,
                           @date ? @date.strftime('%Y-%m-%d') : Time.zone.now.strftime('%Y-%m-%d'),
                           class: 'form-control date-picker', type: 'date' %>
        <span class="input-group-btn">
      <%= button_tag type: :submit, class: 'btn btn-default btn-outline-primary' do %>
      <%= icon('far', 'calendar') %>
      <% end %>
    </span>
      </div>
    <% end %>
  </div>
  <div class="col  float-right">
    <%= form_with url: customers_search_path, method: :get, class: 'form-inline pull-right' do |f| %>
      <div class="input-group" style="padding: 10px 0px 10px 10px;">
        <%= text_field_tag :search, '', class: 'form-control', type: 'number', placeholder: 'ID' %>
        <span class="input-group-btn">
    <%= button_tag type: :submit, class: 'btn btn-default btn-outline-primary' do %>
      <%= icon('fas', 'search') %>
    <% end %>
    </span>
      </div>
    <% end %>
  </div>
</div>


