<!DOCTYPE html>
<html>
<head>
  <title>Funshin</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
</head>

<body>
<div class="container">
  <%= render 'layouts/messages' %>
  <%= yield %>
</div>
</body>
</html>
